[${vm_1_name}]
${vm_1_name} ansible_host=${vm_1_external_ip_address} # or ansible_host=${vm_1_internal_ip_address}

[${vm_2_name}]
${vm_2_name} ansible_host=${vm_2_external_ip_address} # or ansible_host=${vm_2_internal_ip_address}